// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-row {
	margin-bottom: 15px;

	img {
		margin-bottom: 5px;
	}

	p {
		text-decoration: none;
		color: #000;
		margin: 0;
		padding: 0;
	}

	#restaurant_name {
		font-weight: bold;
	}
}

#navbar {
	form {
		padding-top: 18px;
		padding-left: 15px;

		label {
			font-size: 14px;
			color: #D0021B;
		}

		input {
			border: solid 1px #D0021B;;
		}

		button {
			margin-top: -3px;
			padding: 3px 8px 3px 8px;
			border: solid 1px #D0021B;
			color: #D0021B;
		}
	}
}
